[
    {
        "labInfo": {
            "description": "",
            "version": "",
            "author": "",
            "email": "",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "host_a",
                "row": 1,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "192.168.4.3/24",
                            "$$hashKey": "object:14"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:16",
                            "gw": "192.168.4.1"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 404092549802512,
                "$$hashKey": "object:22"
            },
            {
                "name": "router_a_e_i",
                "row": 3,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "192.168.4.1/24",
                            "$$hashKey": "object:118"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "E"
                            },
                            "$$hashKey": "object:157",
                            "ip": "172.17.0.1/16"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "I"
                            },
                            "$$hashKey": "object:168",
                            "ip": "10.0.0.1/16"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:120"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": true,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            "192.168.4.0/24",
                            "172.17.0.0/16",
                            "10.0.0.0/16"
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 394280298966841,
                "$$hashKey": "object:112"
            },
            {
                "name": "host_e",
                "row": 4,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "E"
                            },
                            "ip": "172.17.0.2/16",
                            "$$hashKey": "object:195"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:197",
                            "gw": "172.17.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 627908200228461,
                "$$hashKey": "object:188"
            },
            {
                "name": "host_i",
                "row": 6,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "I"
                            },
                            "ip": "10.0.0.2/16",
                            "$$hashKey": "object:315"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:317",
                            "gw": "10.0.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 519513699851138,
                "$$hashKey": "object:306"
            },
            {
                "name": "router_i_b_f",
                "row": 8,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "I"
                            },
                            "ip": "10.0.0.4/16",
                            "$$hashKey": "object:436"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "B"
                            },
                            "$$hashKey": "object:1855",
                            "ip": "192.168.3.1/24"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "F"
                            },
                            "$$hashKey": "object:1866",
                            "ip": "172.18.0.1/16"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:438"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": true,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            "10.0.0.0/16",
                            "192.168.3.0/24",
                            "172.18.0.0/16"
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 515980216684818,
                "$$hashKey": "object:425"
            },
            {
                "name": "host_b",
                "row": 11,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "192.168.3.3/24",
                            "$$hashKey": "object:631"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:633",
                            "gw": "192.168.3.1"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 367007402857661,
                "$$hashKey": "object:617"
            },
            {
                "name": "host_f",
                "row": 12,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "F"
                            },
                            "ip": "172.18.0.3/16",
                            "$$hashKey": "object:701"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:703",
                            "gw": "172.18.0.4"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 21431145011723,
                "$$hashKey": "object:686"
            },
            {
                "name": "router_f_g_e_h",
                "row": 13,
                "type": "router",
                "interfaces": {
                    "counter": 4,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "F"
                            },
                            "ip": "172.18.0.4/16",
                            "$$hashKey": "object:772"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "G"
                            },
                            "$$hashKey": "object:1886",
                            "ip": "172.19.0.1/16"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "E"
                            },
                            "$$hashKey": "object:1897",
                            "ip": "172.17.0.4/16"
                        },
                        {
                            "eth": {
                                "number": 3,
                                "domain": "H"
                            },
                            "$$hashKey": "object:1910",
                            "ip": "172.20.0.1/16"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:774"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": true,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            "172.17.0.0/16",
                            "172.19.0.0/16",
                            "172.18.0.0/16",
                            "172.20.0.0/16"
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 451503570504056,
                "$$hashKey": "object:756"
            },
            {
                "name": "host_g",
                "row": 16,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "G"
                            },
                            "ip": "172.19.0.3/16",
                            "$$hashKey": "object:997"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:999",
                            "gw": "172.19.0.4"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 397436944871985,
                "$$hashKey": "object:978"
            },
            {
                "name": "host_c",
                "row": 17,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "192.168.9.2/24",
                            "$$hashKey": "object:1077"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:1079",
                            "gw": "192.168.9.3"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 77189663673472,
                "$$hashKey": "object:1057"
            },
            {
                "name": "host_j",
                "row": 19,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "J"
                            },
                            "ip": "10.1.0.2/16",
                            "$$hashKey": "object:1241"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:1243",
                            "gw": "10.1.0.4"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 116026263065613,
                "$$hashKey": "object:1219"
            },
            {
                "name": "router_c_g_j",
                "row": 20,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "192.168.9.3/24",
                            "$$hashKey": "object:1326"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "G"
                            },
                            "$$hashKey": "object:1937",
                            "ip": "172.19.0.4/16"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "J"
                            },
                            "$$hashKey": "object:1948",
                            "ip": "10.1.0.4/16"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:1328"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": true,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            "192.168.9.0/24",
                            "172.19.0.0/16",
                            "10.1.0.0/16"
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 798284793834784,
                "$$hashKey": "object:1303"
            },
            {
                "name": "router_d_h_j",
                "row": 23,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "D"
                            },
                            "ip": "192.168.5.2/24",
                            "$$hashKey": "object:1593"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "H"
                            },
                            "$$hashKey": "object:1968",
                            "ip": "172.20.0.3/16"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "J"
                            },
                            "$$hashKey": "object:1979",
                            "ip": "10.1.0.3/16"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:1595"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": true,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            "192.168.5.0/24",
                            "172.20.0.0/16",
                            "10.1.0.0/16"
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 492222415979280,
                "$$hashKey": "object:1567"
            },
            {
                "name": "host_d",
                "row": 24,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "D"
                            },
                            "ip": "192.168.5.3/24",
                            "$$hashKey": "object:1686"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:1688",
                            "gw": "192.168.5.2"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 290960568395500,
                "$$hashKey": "object:1659"
            },
            {
                "name": "host_h",
                "row": 25,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "H"
                            },
                            "ip": "172.20.0.4/16",
                            "$$hashKey": "object:1782"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:1784",
                            "gw": "172.20.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 811259809653707,
                "$$hashKey": "object:1754"
            }
        ]
    }
]